body {
  padding-top: 70px;
}

.jumbotron {
  background: #fff;
  color: #2c3e50;
}

.bg-dark {
  background-color: #2C3E50 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.thumb-style {
  margin-bottom: 20px;
}
